@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    background: rgba(255, 255, 255, 0.155);
  }
}

/* BottomRightMessage.css */
.bottom-right-message {
  position: fixed;
  bottom: 20px;
  right: -300px; /* Start off-screen from the right */
  padding: 10px 20px;
  background-color: #eaf7ea;
  border-radius: 8px;
  color: #004d00;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slide-in-right 1.5s forwards, slide-out-right 3.5s forwards;
  /* Note: 3.5s delay on slide-out to ensure it's visible for some time */
}

@keyframes slide-in-right {
  from {
    right: -300px; /* Start off-screen to the right */
  }
  to {
    right: 20px; /* Position at the bottom right */
  }
}

@keyframes slide-out-right {
  from {
    right: 20px; /* Start from visible position */
  }
  to {
    right: -300px; /* Slide out to the right */
  }
}
